# 라이브러리 호출 및 데이터 불러오기

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

import torch
import torch.nn as nn
from torch.autograd import Variable
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
# AAPL_cleaned : 주말, 공휴일 등 비어있는 날짜의 데이터 이전값으로 채운 애플 주가 데이터

df = pd.read_csv('new_data\AAPL_cleaned.csv')
df

,Unnamed: 0,Close,Volume,CPI,USTS,DI,PP,IR,OP,CLF,EPU,GDP,UNEMP
0,2018-11-29,43.083508,167080000.0,252.594,3.03,116.1990,124267000.0,2.20,58.29,104047.0,183.21,61619.0,3.8
1,2018-11-30,42.850754,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
2,2018-12-01,42.850754,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
3,2018-12-02,42.850754,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
4,2018-12-03,44.348064,163210000.0,252.767,2.98,115.9081,124163000.0,2.19,60.17,104131.0,158.49,61619.0,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1761,2023-09-25,175.848328,46172700.0,307.481,4.55,122.5803,129115000.0,5.33,94.01,106975.0,14.69,67083.0,3.8
1762,2023-09-26,171.733749,64588900.0,307.481,4.56,122.9224,129115000.0,5.33,94.46,106975.0,143.47,67083.0,3.8
1763,2023-09-27,170.205750,66921800.0,307.481,4.61,123.4153,129115000.0,5.33,97.10,106975.0,150.04,67083.0,3.8
1764,2023-09-28,170.465424,56294400.0,307.481,4.59,122.9827,129115000.0,5.33,96.64,106975.0,111.89,67083.0,3.8
1765,2023-09-29,170.984741,51814200.0,307.481,4.59,122.7675,129115000.0,5.33,95.86,106975.0,136.08,67083.0,3.8

- feature, label데이터 나누기

In [11]:
x = df.drop(columns = 'Close')
y = df[['Close']]

display(x,y)

,Unnamed: 0,Volume,CPI,USTS,DI,PP,IR,OP,CLF,EPU,GDP,UNEMP
0,2018-11-29,167080000.0,252.594,3.03,116.1990,124267000.0,2.20,58.29,104047.0,183.21,61619.0,3.8
1,2018-11-30,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
2,2018-12-01,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
3,2018-12-02,158126000.0,252.594,3.01,116.4157,124267000.0,2.20,57.71,104047.0,136.43,61619.0,3.8
4,2018-12-03,163210000.0,252.767,2.98,115.9081,124163000.0,2.19,60.17,104131.0,158.49,61619.0,3.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1761,2023-09-25,46172700.0,307.481,4.55,122.5803,129115000.0,5.33,94.01,106975.0,14.69,67083.0,3.8
1762,2023-09-26,64588900.0,307.481,4.56,122.9224,129115000.0,5.33,94.46,106975.0,143.47,67083.0,3.8
1763,2023-09-27,66921800.0,307.481,4.61,123.4153,129115000.0,5.33,97.10,106975.0,150.04,67083.0,3.8
1764,2023-09-28,56294400.0,307.481,4.59,122.9827,129115000.0,5.33,96.64,106975.0,111.89,67083.0,3.8
1765,2023-09-29,51814200.0,307.481,4.59,122.7675,129115000.0,5.33,95.86,106975.0,136.08,67083.0,3.8

           Close
0      43.083508
1      42.850754
2      42.850754
3      42.850754
4      44.348064
...          ...
1761  175.848328
1762  171.733749
1763  170.205750
1764  170.465424
1765  170.984741

[1766 rows x 1 columns]

In [26]:
train_x, test_x, train_y, test_y = train_test_split(x, 
                                                    y, 
                                                    test_size = 0.3, 
                                                    shuffle = False)